.navbar-brand{
    font-weight: bolder;
    font-size: 50px;
}
.nav-link.active{
    font-weight: bolder;
    font-size: 18px;
    display: inline-flex;
    text-transform: uppercase;
    margin-right: 50px;
	color: red;
    position: relative;
    right: auto;
    left: 930px;
}

.header{
    text-align: center;
}
.btn.btn-primary.mx-2{
    position: relative;
    right: auto;
    left: 350px;
}
.form-check-label{
    font-weight: bolder;
    font-size: 18px;
    margin-right: 60px;
}
.accordion-item{
    margin: 30px;
}
.img{
    width: 100%;
}
.accordion-body{
    display: inline-flex;
}
.hey{
    margin-right:25px
}